body {
  padding: 0;
  margin: 0;
  background-color: #e2856e;
  color: #fff;
}
h1 {
  text-align: center;
  padding: 12px 0 0px;
  margin: 0 0 5px;
}
header {
  background-color: #e2856e;
  border-bottom: 2px solid #fff;
}
header p {
  font-size: 1.7rem;
  color: #ffe6e1;
  text-align: center;
  padding: 0px 0 20px;
  margin: 0;
}
header a {
  color: #ffe6e1;
}
#versionid {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #ffd4cc;
}
#admin {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #ffd4cc;
}
main {
  padding: 20px 0 10px;
  background-color: #88a2aa;
}
input,
textarea {
  font-size: 1.6rem;
}
.main-form,
.posts-display,
.error {
  width: 50%;
  margin: 0 auto;
}
.error {
  margin: 20px auto 0;
}
.main-form {
  background-color: #e2856e;
  padding: 14px 30px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 2px #808080;
}
.btn-submit {
  background-color: #8bc4d2 !important;
  border-color: #cab0ac !important;
}
.btn-submit:hover {
  background-color: #82a3ab !important;
}
.error p {
  text-align: center;
  padding: 10px;
  color: red;
  border: 1px solid red;
  border-radius: 6px;
  box-shadow: 0px 2px 2px 0px #ffc4c4;
  background: #fff;
}
.posts-display {
  margin-top: 40px;
}
.post-single {
  border: 5px solid #f07f68;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0px 2px 2px 0px #505050;
  margin-bottom: 18px;
  background-color: #fff;
  color: #222;
}
.post-single h3 {
  font-size: 2.4rem;
  margin: 0 0 5px;
}
.post-single p {
  margin: 0 0 10px;
}
.post-single .created {
  font-size: 1.3rem;
  margin: 0 0 6px;
}
.loading {
  margin: 0 auto;
  text-align: center;
  display: block;
  transition: 500ms;
}
.loading img {
  margin-top: 25px;
  width: 200px;
}
hr {
  border: none;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #82a3ab;
  box-shadow: 0 20px 20px -20px #abd1da;
  margin: -30px auto 10px;
}

@media only screen and (max-width: 600px) {
  .main-form,
  .posts-display,
  .error {
    width: 90%;
    padding: 8px 10px;
  }
}
