body {
  padding: 0;
  margin: 0;
  background-color: #f1766d;
  color: #fff;
}
h1 {
  text-align: center;
  padding: 12px;
  background-color: #00c5f5;
}
main {
  padding: 0 10px;
}
input, textarea {
  font-size: 1.6rem;
}
.main-form, .posts-display, .error {
  width: 50%;
  margin: 0 auto;
}
.error p {
  text-align: center;
  padding: 10px;
  color: red;
  border: 1px solid red;
  border-radius: 6px;
  box-shadow: 0px 2px 2px 0px #ffc4c4;
  background: #fff
}
.posts-display {
  margin-top: 40px;
}
.post-single {
  border: 1px solid #aae0f1;
  border-radius: 4px;
  padding: 10px 20px;
  box-shadow: 0px 2px 2px 0px #000000;;
  margin-bottom: 18px;
  background-color: #fff;
  color: #222;
}
.post-single h3 {
  font-size: 2.4rem;
  margin: 0 0 5px;
}
.post-single p {
  margin: 0 0 10px;
}
.post-single .created {
  font-size: 1.3rem;
  margin: 0 0 6px;
}
.loading {
  margin: 0 auto;
  text-align: center;
  display: block;
  transition: 500ms
}
.loading img {
  margin-top: 25px;
  width: 200px;
}

@media only screen and (max-width: 600px) {
  .main-form, .posts-display {
    width: 100%;
  }
}
